<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="TitleImage" value="C:\Users\NISSIMOHAYON\Documents\Proggreming\design patterns\TemplateMethod\Nissim.On.TemplateMethod\Nissim.On.TemplateMethod\ThirdParty\Title.gif" />
    <add key="TextFile" value="C:\Users\NISSIMOHAYON\Documents\Proggreming\design patterns\TemplateMethod\Nissim.On.TemplateMethod\Nissim.On.TemplateMethod\ThirdParty\CV_Nissim_Ohayon.docx" />
  </appSettings>
  
</configuration>